<div class="mt-3">
    <form action="/recognition" method="post" enctype="multipart/form-data" autocomplete="off">
        <div class="form-group m-3 px-3">
            <label for="recFile">Recognition Video File</label>
            <div class="custom-file">
                <input type="file" class="form-control w-50 p-2" id="recFile" name="recFile" accept="video/*">
            </div>
            <small id="fileHelp" class="form-text text-white">Video processing takes a while, please be patient!</small>
        </div>

        <button type="submit" class="btn btn-primary ms-5 px-3">Recognise</button>
        <button type="reset" class="btn btn-primary ms-2 px-3">Clear</button>
    </form>
</div>

<script type="text/javascript" src="/static/js/update_label.js"></script>